services:
  - type: web
    name: fullstack-javascript-project-6
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        fromService:
          type: web
          name: fullstack-javascript-project-6
          property: port
