extends ../partials/layout

block content
  .row.justify-content-center
    .col-md-8
      .card
        .card-header.d-flex.justify-content-between.align-items-center
          h3.mb-0= task.name
          if currentUser
            a.btn.btn-sm.btn-outline-primary(href=`/tasks/${task.id}/edit`) Edit
        .card-body
          .mb-3
            strong Status: 
            = task.status ? task.status.name : 'N/A'
          .mb-3
            strong Creator: 
            = task.creator ? task.creator.firstName + ' ' + task.creator.lastName : 'N/A'
          .mb-3
            strong Executor: 
            = task.executor ? task.executor.firstName + ' ' + task.executor.lastName : 'N/A'
          if task.description
            .mb-3
              strong Description:
              p= task.description
          if currentUser && task.creatorId === currentUser.id
            form(method='POST', action=`/tasks/${task.id}`, style='display: inline;')
              input(type='hidden', name='_method', value='DELETE')
              button.btn.btn-danger(type='submit', onclick="return confirm('Are you sure?')") Delete
          a.btn.btn-secondary.ms-2(href='/tasks') Back to Tasks
