extends ../partials/layout

block content
  .row.justify-content-center
    .col-md-6
      .card
        .card-header
          h3.mb-0 New Label
        .card-body
          form(method='POST', action='/labels')
            .mb-3
              label.form-label(for='data_name') Name
              input#data_name.form-control(type='text', name='data[name]', required, minlength='1')
            button.btn.btn-primary(type='submit') Create
            a.btn.btn-secondary.ms-2(href='/labels') Cancel
